@{
    ViewBag.Title = "my web";
}

<h2>@ViewBag.s</h2>


<footer>
        <h1>&copy; @DateTime.Now - mình sắp mở siêu thị bán ducati nhớ ủng hộ nhé <br />
            <img src="https://xe360.com/uploads/forum/photo/1k/1kx/1kxblr5uohlv.jpg" alt="Young Little Girl Image &amp; Photo (Free Trial) | Bigstock"/></h1>
            <style>
                img{
                    position: absolute;
                    top: 0;
                    right: 0;
                }
            </style>
        </p>
    </footer>